*{
    background-color: black;
}

button{
    background-color: bisque;
}
.display{
    background-color: whitesmoke;
    height: 150px;
    border: 5px snow;
    border-radius: 5px;
}

#numbers{
    display: flex;
    flex-wrap: wrap;
    display: block;
}

button{
    
    flex: 1;
}