*{
    background-color: black;
}

button{
    background-color: bisque;
}
.display{
    background-color: whitesmoke;
    height: 150px;
    border: 5px snow;
    border-radius: 5px;
}

#numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#operators{
    display: flex;
    flex-direction: column;
    float: right;
}

#container{
    border: 5px solid rebeccapurple;
    margin: 50px;
}
