*{
    background-color: black;
}

button{
    background-color: lightblue;
}
.display{
    background-color: whitesmoke;
    height: 50px;
    border: 5px snow;
    border-radius: 5px;
}

#numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    border-radius: 4px;
}


#operators{
    display: flex;
    flex-direction: column;
    float: right;
}

#container{
    border: 5px solid plum;
    border-radius: 10px;
    margin: 50px;
    height: 180px;
}
